<footer class="bg-dark text-light py-4 mt-5">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h5>About Us</h5>
              <p>Your one-stop destination for all kinds of books.</p>
          </div>
          <div class="col-md-4">
              <h5>Quick Links</h5>
              <ul class="list-unstyled">
                  <li><a href="/books" class="text-light">Books</a></li>
                  <li><a href="/categories" class="text-light">Categories</a></li>
                  <li><a href="/contact" class="text-light">Contact</a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <h5>Contact Us</h5>
              <p>Email: contact@bookstore.com<br>
              Phone: (123) 456-7890</p>
          </div>
      </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>